{% extends 'base_candidates.html' %}

{% block title %}<title>Home | Candidatos</title>{% endblock title %}
{% block content %}
{% include 'partials/_nav_candidate.html' %}

<!--Nav-->
{% if user.is_authenticated %}
<div class="container-sm col-lg-6" style=" max-width: 96rem">
    <h3 style="text-align: center; margin-top: 2rem">Ola! {{user.first_name}} {{user.last_name}}</h3>
    {% else %}
    <h5 class="text-center" style="margin-top: 5rem;">Seja bem vindo visitante, para ter acesso as vagas, necessário
        realizar login</h5>

</div>
{% endif %}
<!-- Nav-->
<!--Vagas-->
<div class="container-sm col-lg-12 mb-2" style=" max-width: 96rem; margin-top: 2rem">
    <div class="row mt-3">
    {% if jobs_list %}
    {% for jobs in jobs_list %}

    <!--Inicio vagas-->
        <div class="col-sm-3">
            <div class="card mb-4" style="max_width: 18rem; max_height: 18rem">
                <div class="card-body">
                    <h5 class="card-title">Vaga: {{ jobs.title }}</h5>
                    <p class="card-text">Descrição: {{ jobs.description }}</p>
                    {% for requirement in jobs.requirements.all %}
                    <p style="display:inline; font-size:0.8rem;">{{ requirement.name }}</p>
                    {% if not forloop.last %}/ {% endif %}
                    {% endfor %}
                    <a href="{% url 'app_candidate:list_jobs_candidate' jobs.id %}" style="display:block" class="btn btn-primary btn-sm">Acessar vaga.</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <!--Fim vagas-->
</div>
<!--vagas-->

{% endblock content %}