{% extends 'base_company.html' %}
{% load static %}

{% block title %}<title>Registrar | Companhia</title>{% endblock title %}
{% block content %}
{% include 'partials/_nav.html' %}
    
    <div class="container-sm" style=" margin-top: 4rem">
        <h3>Cadastrar empresa</h3>
        <div class="row-sm">
            <form method="post" style="margin-top: 1rem;" action="{% url 'app_company:company_create' %}">
                {% csrf_token %}
                    <!--Model Company-->
                    <div class="form-group">
                        <label for="id_name">Nome:</label>
                        <input type="text" class="form-control" name="name" placeholder="Nome da Companhia" maxlength="255" required id="id_name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="id_cnpj">CNPJ:</label>
                        <input type="text" class="form-control" name="cnpj" placeholder="Número do CNPJ" maxlength="14" required id="id_cnpj" autocomplete="off">
                    </div>

                    
                    <!--Model COmpany-->

                    <!--Model ContactCompany-->
                    
                    <div class="form-group">
                        <label for="id_manager">Nome do responsável:</label>
                        <input type="text" class="form-control" name="manager" placeholder="Nome do responsável" maxlength="45" required id="id_manager" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="id_email">E-mail:</label>
                        <input type="email" class="form-control" name="email" placeholder="E-mail da empresa" maxlength="254" required id="id_email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="id_cellphone">Número de celular:</label>
                        <input type="text" class="form-control" name="cellphone" placeholder="Número do celular" maxlength="14" required id="id_cellphone" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="id_commercial_phone">Número comercial:</label>
                        <input type="text" class="form-control" name="commercial_phone" placeholder="Número fixo comercial" maxlength="12" required id="id_commercial_phone" autocomplete="off">
                    </div>
                    
                    <!--Model ContactCompany-->

                    <input type="submit" class="btn btn-primary btn-block" value="Cadastrar">
            </form>
        </div>
    </div>

{% endblock content %}
