{% extends 'base_company.html' %}

{% block title %}<title>Listar | Empresas</title>{% endblock title %}
{% block content %}
{% include 'partials/_nav.html' %}
    
    <div class="container-sm mt-3">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>                  
                    <th scope="col">ID</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">CNPJ</th>
                </tr>
            </thead>
            <tbody>
                {% if company_list %}
                {% for company in company_list %}
                <tr>
                    <td  style=" width:6rem"><a href="{% url 'app_company:company_update' pk=company.id %}" class="btn btn-primary btn-sm">Editar</a></td>
                    <td style=" width:10rem"><a href="{% url 'app_company:jobs_create' company.id %}" class="btn btn-success btn-sm">Cadastrar Vaga</a></td>

                    <td>{{ company.id }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.cnpj }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4"><h2>Não há empresas</h2></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
</div>
    
{% endblock content %}
