{% extends 'base_company.html' %}

{% block title %}<title>Registrar | Companhia</title>{% endblock title %}
{% block content %}
{% include 'partials/_nav.html' %}
        
    <div class="container-sm" style="border: 1px solid black; margin-top: 10rem">
        <h3>Cadastrar empresa</h3>
        <div class="row-sm">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="row-sm">
                    <!--Model ContactCompany-->
                    <div class="form-group">
                        <label>Nome do responsável</label>
                        <input type="text" class="form-control" name="manager" >
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Número de celular</label>
                        <input type="text" class="form-control" name="cellphone">
                    </div>
                    <div class="form-group">
                        <label>Número comercial</label>
                        <input type="text" class="form-control" name="commercial_phone">
                    </div>

                    <!--Model ContactCompany-->
                    <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
    </div>

{% endblock content %}
