{% extends 'base_company.html' %}

{% block title %}<title>Home | Company</title>{% endblock title %}
{% block content %}
{% include 'partials/_nav.html' %}

  <div class="container-sm text-center">
    <h1>Resumo de vagas abertas</h1>
    <div class="row-sm">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Empresa</th>
            <th scope="col">Data de criação</th>
            <th scope="col">QTD. candidatos</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <th scope="row"><a href="{% url 'app_company:list_filter_job_company' job.id %}" class="btn btn-info btn-sm">Acessar</a></th>
            <th scope="row">{{ job.id }}</th>
            <td>{{ job.title }}</td>
            <td>{{ job.company }}</td>
            <td>{{ job.created_at }}</td>
              <td>{{ job.num_candidates }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>
{% endblock content %}
