{% extends 'base_company.html' %}

{% block title %}<title>Vagas canceladas</title>{% endblock title %}
{% block content %}
{% include 'partials/_nav.html' %}
    
    <title>Listar vagas canceladas</title>
<div class="container-sm">
    <div class="container-sm">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ID</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Título</th>
                    <th scope="col">Requisitos</th>
                    <th scope="col">Faixa salarial</th>
                    <th>Ativa</th>
                </tr>
            </thead>
            <tbody>
                {% if jobs_list %}
                {% for jobs in jobs_list %}
                <tr>
                    <td  style=" width:6rem"><a href="{% url 'app_company:update_jobs' jobs.pk %}" class="btn btn-primary btn-sm">Editar</a></td>

                    <td>{{ jobs.id }}</td>
                    <td>{{ jobs.company }}</td>
                    <td>{{ jobs.title }}</td>
                    <td>
                        {% for requirement in jobs.requirements.all %}
                            {{ requirement.name }}
                            {% if not forloop.last %}/ {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ jobs.salary_range }}</td>
                    <td>{{ jobs.is_active }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4"><h2>Não há vagas</h2></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    
{% endblock content %}
